@import "_reset";

$tablet: "screen and (max-width:992px)";
$mobile: "screen and (max-width:768px)";

body {
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 70px;
  padding-top: 20px;
  background-color: #fff;

  .hd_container {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;

    line-height: 70px;

    nav {
      position: relative;
      width: 50px;
      height: 50px;
      margin: 10px 0;

      a.hamber {
        width: 40px;
        height: 40px;

        span {
          position: absolute;
          top: 50%;
          left: 10px;
          display: block;
          width: 25px;
          height: 3px;

          background-color: #777;
          border-radius: 7px;

          &:before {
            content: "";
            display: block;
            width: 25px;
            height: 3px;
            margin-top: -8px;
            background-color: #777;
            border-radius: 7px;
          }
          &:after {
            content: "";
            display: block;
            width: 25px;
            height: 3px;
            margin-top: 13px;

            background-color: #777;
            border-radius: 7px;
          }
        }
      }
      ol.gnb {
        display: none;
        width: 200px;
        margin-top: 60px;
        background-color: #fff;

        li {
          a {
            display: block;
            font-size: 1.3rem;
            line-height: 50px;
            padding: 0 20px;
          }

          &:hover > a {
            color: #fff;
            font-weight: 800;
            background-color: #00a2b8;
          }
        }
      }
    }

    h1.logo {
      width: 200px;
      a {
        display: block;
        height: 50px;
        margin: 10px 0;
        text-indent: -9999px;

        background-image: url(./../images/withland_logo.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    a.my {
      height: 70px;
      i {
        font-size: 1.7rem;
      }
      color: #777;
      font-size: 1rem;
      letter-spacing: 2px;
      vertical-align: middle;
      transition: 0.7s;

      &:hover {
        color: #333;
      }
    }
  }
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 80px;
  background-image: url(./../images/mn_bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .mn_container {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0 auto;

    background-image: url(./../images/mn_bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    .mn_slide {
      position: absolute;
      left: 0;
      display: flex;

      width: calc(1200px * 5);
      margin: 0 auto;

      background-position: center 0;
      background-size: contain;

      > li {
        width: 1200px;

        background-repeat: no-repeat;
        background-position: 80% bottom;

        a {
          display: block;
          width: 100%;
          height: 600px;
          text-indent: -9999px;
        }
        &:nth-of-type(1) {
          background-image: url(./../images/mn_dog1.png);
          background-size: 28%;
        }
        &:nth-of-type(2) {
          background-image: url(./../images/mn_dog2.png);
          background-size: 38%;
        }
        &:nth-of-type(3) {
          background-image: url(./../images/mn_dog3.png);
          background-size: 43%;
        }
        &:nth-of-type(4) {
          background-image: url(./../images/mn_dog4.png);
          background-size: 35%;
        }
        &:nth-of-type(5) {
          background-image: url(./../images/mn_dog5.png);
          background-size: 47%;
        }
      }
    }

    .mn_pagination {
      position: absolute;
      left: calc(50% - 400px);
      bottom: 80px;

      z-index: 100;
      display: flex;
      justify-content: space-between;
      width: 100px;
      height: 13px;
      li {
        a {
          display: block;
          width: 13px;
          height: 13px;
          text-indent: -9999px;
          border-radius: 50%;
          border: 2px solid #ffc98c;
          box-sizing: border-box;
        }

        &:hover > a,
        &.on > a {
          background-color: #ffc98c;
        }
      }
    }

    .mn_contact {
      position: absolute;
      top: calc(50% - 180px);
      left: calc(50% - 400px);

      h2 {
        color: #fff;
        font-size: 6.5rem;
        font-weight: 200;

        span {
          font-weight: 800;
        }

        &:after {
          content: "";

          display: block;
          width: 150px;
          height: 50px;
          margin-top: 30px;

          background-image: url(./../images/withland_logo_w.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

section.service {
  .sv_container {
    display: flex;
    width: 1200px;
    height: 350px;
    margin: 130px auto;

    &:hover {
      .sv_title {
        background-image: url(./../images/withland_symbol_gray.svg);
      }
    }

    .sv_title {
      width: 270px;
      height: 350px;
      padding: 50px 30px;
      background-color: #f3f3f3;

      background-image: url(./../images/withland_symbol_gray_line.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 120px 20px;

      box-sizing: border-box;

      h4 {
        display: inline-block;
        color: #00a2b8;
        line-height: 25px;
        border-top: 3px solid #00a2b8;
      }

      h2 {
        margin-top: 15px;

        color: #222;
        font-size: 2.5rem;
        line-height: 35px;

        span {
          font-weight: 200;
        }
      }

      span.line {
        display: inline-block;
        width: 20px;
        height: 2px;
        margin: 50px 0 20px;
        background-color: #222;
      }
      p {
        font-size: 1.2rem;
        line-height: 20px;
      }
    }
  }
}

section.logos {
  width: 100vw;
  height: 100px;
  background-color: #ffc98c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.with {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  height: 600px;

  .wt_container {
    width: 850px;
    height: 400px;
    margin-top: 120px;
    border-top: 2px solid #00a2b8;
    border-bottom: 2px solid #00a2b8;

    h3 {
      color: #00a2b8;
      font-size: 1.2rem;
      line-height: 25px;
      margin-bottom: 10px;
    }

    .wt_slide {
      display: flex;
      justify-content: space-between;
      width: calc(283.3px * 3);
      height: 350px;
      margin: 0 auto;
      li {
        overflow: hidden;
        position: relative;
        width: 283.3px;
        height: 350px;

        transition: 0.6s;

        &:hover {
          width: 600px;
          div.wt_bla {
            animation: textup 0.6s forwards;
          }
        }
        &:nth-of-type(1) {
          div {
            background-image: url(./../images/wt_slide1.png);
            border-right: 3px solid #fff;
          }
        }
        &:nth-of-type(2) {
          div {
            background-image: url(./../images/wt_slide2.png);
            border-right: 3px solid #fff;
          }
        }
        &:nth-of-type(3) {
          div {
            background-image: url(./../images/wt_slide3.png);
          }
        }
      }
      div {
        height: 350px;
        background-size: cover;
        background-position: center;

        div.wt_bla {
          position: absolute;
          bottom: -160px;
          z-index: 100;
          width: 100%;
          height: 130px;
          padding: 30px;
          background-image: none;
          background-color: rgba(0, 0, 0, 0.5);

          h3 {
            color: #fff;
            font-size: 1.8rem;
            font-weight: 800;
          }
          p {
            color: #fff;
            padding-right: 70px;
            font-size: 1.2rem;
            line-height: 20px;
          }

          @keyframes textup {
            0% {
              bottom: -160px;
            }
            100% {
              bottom: 0px;
            }
          }
        }
      }
    }
  }

  .event {
    width: 300px;
    height: 400px;
    margin-top: 120px;
    // background-color: #222;
    border-top: 2px solid #00a2b8;
    border-bottom: 2px solid #00a2b8;

    h3 {
      color: #00a2b8;
      font-size: 1.2rem;
      line-height: 25px;
      margin-bottom: 10px;
    }

    span {
      display: block;
      width: 300px;
      height: 300px;
      background-image: url(./../images/event.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }
    h4 {
      font-size: 1.5rem;
      margin: 10px 0 5px;
    }
    p {
      font-size: 1.2rem;
      line-height: 20px;
    }
  }
}

section.withzine {
  height: 800px;
  background-color: #f2f2f2;
}

footer {
  height: 300px;
  background-color: #00a2b8;

  .ft_container {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    padding: 50px;
    margin: 0 auto;

    h2.logo {
      width: 15%;
      height: 80px;
      text-indent: -9999px;
      background-image: url(./../images/withland_logo_w.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ft_contact {
      width: 30%;

      .ft_fir {
        color: #fff;
        span {
          padding: 0 10px;
          line-height: 30px;
          font-size: 1.1rem;
          border-right: 1px solid #fff;

          a {
            color: #fff;

            &:hover {
              text-decoration: underline;
            }
          }

          &:last-of-type {
            border-right: none;
          }
        }

        address {
          font-size: 1.3rem;
          span {
            border-right: none;
          }

          &:nth-of-type(2) {
            padding: 10px 0 0 10px;
            margin-top: 5px;
            font-weight: 800;
            font-size: 1.2rem;
            border-top: 1px solid #fff;
          }
        }

        p {
          font-size: 1.3rem;
          span {
            border-right: none;
          }
        }
      }
    }
    .ft_sec {
      width: 20%;
      h4 {
        color: #fff;
        font-size: 1.5rem;
      }
    }

    .ft_tir {
      width: 20%;
      h4 {
        margin-bottom: 10px;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 400;

        &:nth-of-type(2) {
          margin-top: 30px;
        }
      }
      p {
        a {
          display: block;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 800;
        }
      }
    }
  }
}
