@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: "noto sans CJK KR";
  color: #222;
  font-size: 10px;
  line-height: 1.2;
  box-sizing: border-box;
}

body,
header,
section,
article,
footer,
nav,
aside,
mark,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
dl,
dt,
dd,
address,
code,
em,
strong,
blockquote,
q {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

q {
  quotes: none;
}

em,
address {
  font-style: normal;
}

hr {
  display: none;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:active {
  color: #222;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 70px;
  padding-top: 20px;
  background-color: #fff;
}

header .hd_container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  line-height: 70px;
}

header .hd_container nav {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

header .hd_container nav a.hamber {
  width: 40px;
  height: 40px;
}

header .hd_container nav a.hamber span {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #777;
  border-radius: 7px;
}

header .hd_container nav a.hamber span:before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  margin-top: -8px;
  background-color: #777;
  border-radius: 7px;
}

header .hd_container nav a.hamber span:after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 13px;
  background-color: #777;
  border-radius: 7px;
}

header .hd_container nav ol.gnb {
  display: none;
  width: 200px;
  margin-top: 60px;
  background-color: #fff;
}

header .hd_container nav ol.gnb li a {
  display: block;
  font-size: 1.3rem;
  line-height: 50px;
  padding: 0 20px;
}

header .hd_container nav ol.gnb li:hover > a {
  color: #fff;
  font-weight: 800;
  background-color: #00a2b8;
}

header .hd_container h1.logo {
  width: 200px;
}

header .hd_container h1.logo a {
  display: block;
  height: 50px;
  margin: 10px 0;
  text-indent: -9999px;
  background-image: url(./../images/withland_logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header .hd_container a.my {
  height: 70px;
  color: #777;
  font-size: 1rem;
  letter-spacing: 2px;
  vertical-align: middle;
  transition: 0.7s;
}

header .hd_container a.my i {
  font-size: 1.7rem;
}

header .hd_container a.my:hover {
  color: #333;
}

section.main {
  position: relative;
  width: 100vw;
  height: 600px;
  padding-top: 80px;
  background-image: url(./../images/mn_bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section.main .mn_container {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background-image: url(./../images/mn_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

section.main .mn_container .mn_slide {
  position: absolute;
  left: 0;
  display: flex;
  width: calc(1200px * 5);
  margin: 0 auto;
  background-position: center 0;
  background-size: contain;
}

section.main .mn_container .mn_slide > li {
  width: 1200px;
  background-repeat: no-repeat;
  background-position: 80% bottom;
}

section.main .mn_container .mn_slide > li a {
  display: block;
  width: 100%;
  height: 600px;
  text-indent: -9999px;
}

section.main .mn_container .mn_slide > li:nth-of-type(1) {
  background-image: url(./../images/mn_dog1.png);
  background-size: 28%;
}

section.main .mn_container .mn_slide > li:nth-of-type(2) {
  background-image: url(./../images/mn_dog2.png);
  background-size: 38%;
}

section.main .mn_container .mn_slide > li:nth-of-type(3) {
  background-image: url(./../images/mn_dog3.png);
  background-size: 43%;
}

section.main .mn_container .mn_slide > li:nth-of-type(4) {
  background-image: url(./../images/mn_dog4.png);
  background-size: 35%;
}

section.main .mn_container .mn_slide > li:nth-of-type(5) {
  background-image: url(./../images/mn_dog5.png);
  background-size: 47%;
}

section.main .mn_container .mn_pagination {
  position: absolute;
  left: calc(50% - 400px);
  bottom: 80px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 13px;
}

section.main .mn_container .mn_pagination li a {
  display: block;
  width: 13px;
  height: 13px;
  text-indent: -9999px;
  border-radius: 50%;
  border: 2px solid #ffc98c;
  box-sizing: border-box;
}

section.main .mn_container .mn_pagination li:hover > a,
section.main .mn_container .mn_pagination li.on > a {
  background-color: #ffc98c;
}

section.main .mn_container .mn_contact {
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 400px);
}

section.main .mn_container .mn_contact h2 {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 200;
}

section.main .mn_container .mn_contact h2 span {
  font-weight: 800;
}

section.main .mn_container .mn_contact h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-image: url(./../images/withland_logo_w.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

section.service .sv_container {
  display: flex;
  width: 1200px;
  height: 350px;
  margin: 130px auto;
}

section.service .sv_container:hover .sv_title {
  background-image: url(./../images/withland_symbol_gray.svg);
}

section.service .sv_container .sv_title {
  width: 270px;
  height: 350px;
  padding: 50px 30px;
  background-color: #f3f3f3;
  background-image: url(./../images/withland_symbol_gray_line.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 120px 20px;
  box-sizing: border-box;
}

section.service .sv_container .sv_title h4 {
  display: inline-block;
  color: #00a2b8;
  line-height: 25px;
  border-top: 3px solid #00a2b8;
}

section.service .sv_container .sv_title h2 {
  margin-top: 15px;
  color: #222;
  font-size: 2.5rem;
  line-height: 35px;
}

section.service .sv_container .sv_title h2 span {
  font-weight: 200;
}

section.service .sv_container .sv_title span.line {
  display: inline-block;
  width: 20px;
  height: 2px;
  margin: 50px 0 20px;
  background-color: #222;
}

section.service .sv_container .sv_title p {
  font-size: 1.2rem;
  line-height: 20px;
}

section.logos {
  width: 100vw;
  height: 100px;
  background-color: #ffc98c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

section.with {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  height: 600px;
}

section.with .wt_container {
  width: 850px;
  height: 400px;
  margin-top: 120px;
  border: 1px solid #000;
}

section.with .wt_container div {
  width: 250px;
  background-color: #222;
}

section.with .event {
  width: 300px;
  height: 400px;
  margin-top: 120px;
  border-top: 2px solid #00a2b8;
  border-bottom: 2px solid #00a2b8;
}

section.with .event h3 {
  color: #00a2b8;
  font-size: 1.2rem;
  line-height: 25px;
  margin-bottom: 10px;
}

section.with .event span {
  display: block;
  width: 300px;
  height: 300px;
  background-image: url(./../images/event.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

section.with .event h4 {
  font-size: 1.5rem;
  margin: 10px 0 5px;
}

section.with .event p {
  font-size: 1.2rem;
  line-height: 20px;
}

section.withzine {
  height: 800px;
  background-color: #f2f2f2;
}

footer {
  height: 300px;
  background-color: #00a2b8;
}

footer .ft_container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 50px;
  margin: 0 auto;
}

footer .ft_container h2.logo {
  width: 15%;
  height: 80px;
  text-indent: -9999px;
  background-image: url(./../images/withland_logo_w.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

footer .ft_container .ft_contact {
  width: 30%;
}

footer .ft_container .ft_contact .ft_fir {
  color: #fff;
}

footer .ft_container .ft_contact .ft_fir span {
  padding: 0 10px;
  line-height: 30px;
  font-size: 1.1rem;
  border-right: 1px solid #fff;
}

footer .ft_container .ft_contact .ft_fir span a {
  color: #fff;
}

footer .ft_container .ft_contact .ft_fir span a:hover {
  text-decoration: underline;
}

footer .ft_container .ft_contact .ft_fir span:last-of-type {
  border-right: none;
}

footer .ft_container .ft_contact .ft_fir address {
  font-size: 1.3rem;
}

footer .ft_container .ft_contact .ft_fir address span {
  border-right: none;
}

footer .ft_container .ft_contact .ft_fir address:nth-of-type(2) {
  padding: 10px 0 0 10px;
  margin-top: 5px;
  font-weight: 800;
  font-size: 1.2rem;
  border-top: 1px solid #fff;
}

footer .ft_container .ft_contact .ft_fir p {
  font-size: 1.3rem;
}

footer .ft_container .ft_contact .ft_fir p span {
  border-right: none;
}

footer .ft_container .ft_sec {
  width: 20%;
}

footer .ft_container .ft_sec h4 {
  color: #fff;
  font-size: 1.5rem;
}

footer .ft_container .ft_tir {
  width: 20%;
}

footer .ft_container .ft_tir h4 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
}

footer .ft_container .ft_tir h4:nth-of-type(2) {
  margin-top: 30px;
}

footer .ft_container .ft_tir p a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}
